<mat-card style="border-top: 5px darkblue solid;">
    <mat-card-content>
        <div fxLayout="row wrap" >
            <div fxFlex="100" fxLayoutAlign="center center">
                <button mat-fab color="warn">
                  <mat-icon>lock_reset</mat-icon>
                </button>    
            </div>
            <div fxFlex="100" fxLayoutAlign="center center">
              <h2 mat-dialog-title>Cambiar contraseña</h2>
            </div>      
        </div>
          
        <mat-dialog-content fxLayout="row wrap" fxLayoutAlign="center center">
            <span fxFlex="100" fxLayoutAlign="center center" style="font-size: larger;">Introduzca su contraseña anterior y déspues su nueva contraseña con un mínimo de 8 carácteres para actualizarla por favor</span>
            <span>&nbsp;</span>
            <form fxFlex="100" [formGroup]="resetForm" fxLayout="column">

            <mat-form-field fxFlex="100">          
                <mat-label>Contraseña anterior</mat-label>
                <input         
                matInput
                formControlName="lastPassword"
                minlength="8"
                type="password">
                <mat-icon color="primary" matSuffix>password</mat-icon>
            </mat-form-field>      
            <mat-form-field fxFlex="100">          
                <mat-label>Contraseña nueva</mat-label>
                <input         
                matInput
                formControlName="newPassword"
                minlength="8"
                type="password">
                <mat-icon color="primary" matSuffix>password</mat-icon>
            </mat-form-field>      
            <mat-form-field fxFlex="100">          
                <mat-label>Repetir contraseña</mat-label>
                <input         
                matInput
                formControlName="repeatNewPassword"
                minlength="8"
                type="password">
                <mat-icon color="primary" matSuffix>password</mat-icon>
            </mat-form-field>      
            </form>
        </mat-dialog-content>
        <mat-dialog-actions fxLayout="row wrap" fxLayoutGap="10" fxLayoutGap.md="10" fxLayoutGap.lg="10" fxLayoutGap.xl="10" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" mat-dialog-close ><mat-icon>close_small</mat-icon> Cancelar</button>
            <button mat-raised-button color="primary" cdkFocusInitial [disabled]="!resetForm.valid" (click)="save()" ><mat-icon>check</mat-icon> Aceptar</button>
        
        </mat-dialog-actions>
  
  </mat-card-content>

</mat-card>