<mat-card class="report-card" fxFlex="100">
    <mat-card-header fxLayout="row" fxLayoutGap="20" fxFlex="100" fxLayoutAlign="space-between start">
        <div fxFlex="50" fxLayout="row" fxLayoutGap="10">
            <div fxLayout="column">
                <button mat-mini-fab color="primary" style="margin-right: 5px;"><mat-icon>person</mat-icon></button>
            </div>
            <div fxLayout="column">
                <mat-card-title>Usuarios</mat-card-title>
                <mat-card-subtitle>Adminstrador</mat-card-subtitle>    
            </div>        
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="end end">
            <app-search (searchChange)="searchChange($event)"/>
        </div>            
    </mat-card-header>  
    <mat-card-content fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
        <app-users-table [searchString] = "searchString" [paginationData] = "paginationData" fxFlex="100" fxLayout="row"/>          
    </mat-card-content>
    <mat-card-footer fxFlex="100" fxLayoutAlign="end center">
        <app-users-list-paginator (paginationChange) = "paginationChange( $event )" />
    </mat-card-footer>
</mat-card>